.popup__container {
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
}

@media (max-width: 530px) {
  .popup__container {
    width: 282px;
  }
}