.elements {
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
}
@media (max-width: 910px) {
    .elements{
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }
}
@media (max-width: 610px) {
    .elements{
        grid-template-columns: 1fr;
    }
}