.elements__button {
    margin: 0;
    padding: 0;
    background: transparent url(../../../images/Vector-like.svg);
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.elements__button:hover {
    opacity: .5;
    transition: .3s ease;
}

.elements__button:active {
    background: transparent url(../../../images/Vector-active-like.svg);
    opacity: 1;
}