.popup__close{
    background-color: transparent;
    transform: rotate(45deg);
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 60px;
    transform: rotate(45deg);
    border: none;
    position: absolute;
    top: -60px;
    right: -40px;
  }
.popup__close:hover{
    opacity: .6;
    transition: .3s ease;
}
