.popup__close {
  background: transparent url(../../../images/CloseIcon.svg);
  background-size: contain;
  color: #fff;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.popup__close:hover {
  opacity: .6;
  transition: .3s ease;
}

@media (max-width: 530px) {
  .popup__close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}