.profile__info {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 24px;
    padding-left: 30px;
    column-gap: 18px;
    row-gap: 16px;
    align-items: center;
}
@media (max-width:530px){
    .profile__info{
        column-gap: 8px;
        row-gap: 14px;
        padding-bottom: 36px;
        padding-top: 26px;
    }
}
@media (max-width:320px){
    .profile__info{
        padding-left: 0;
    }

}